body{
    background-color: #ececec;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #ececec;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}  
#logo{
    background-image: url('../img/logo.png');
    background-size: cover;
    height: 150px;
    width: 300px;
    margin-top: 20px;
}  
#search_nav{
    background-color: #ececec;
    border-bottom-color: rgb(110, 103, 103);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#search{
    color: rgb(110, 103, 103);
    height: 50px;
    width: 300px;
    padding-top: 50px;
    padding-left: 60px;
}  
nav{
    background-color: #ececec;
    height: 50px;
    width: 500px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
} 
nav ul li a:link{
    text-decoration: none;
    background-color: #ececec;
    color: rgb(110, 103, 103);
    padding: 10px 10px 10px 10px;
}   
nav ul li a:visited{
    text-decoration: none;
    color: rgb(110, 103, 103);
    padding: 10px 10px 10px 10px;
}   
nav ul li a:hover{
    text-decoration: none;
    background-color: rgb(110, 103, 103);
    color: white;
    padding: 10px 10px 10px 10px;
}  
nav ul li a:active{
    text-decoration: none;
    background-color: #ececec;
    color: rgb(110, 103, 103);
    padding: 10px 10px 10px 10px;
}

    /*Centro*/
#opciones img{ float: right; width: 15px; height: 15px; margin: 10px 10px 0px 0px;}
#opciones select{ margin: 20px 0px 0px 30px; border-radius: 5px;}

#cuadros img {
    height: auto; 
    width: 300px;
    box-shadow: 1px 1px 2px 2px grey;  /*Color Cambiar*/
}
#cuadros a:hover img{
    box-shadow: 0px 0px 15px 2px grey;    /*Color Cambiar*/
    border-radius: 2px;
}
#cuadros{
    display: flex;
    flex-flow: row wrap;
    margin: 20px 50px 0px 50px;
    justify-content: space-around;
    justify-content: center;
}
a { text-decoration: none;}
#cuadros a:link, a:visited, a:active{
    color: rgb(110, 103, 103);
} 
#cuadros a:hover{ color: black;}
#cuadros p {
    text-align: center;
    margin-top: 1px;
    font-size: 11px;
}
#cuadros div{ margin: 50px 50px 45px 50px;}
#abrigos, #parkas, #camisas, #pantalones{
    display: block;
}

/*FOOTER*/
footer{
    padding-top: 150px;
    background-color: #ececec;
    border-top-color: rgb(110, 103, 103);
    border-top-width: 2px;
    border-top-style: solid;
    background-size: 100% 450px;
    color: rgb(110, 103, 103);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
address{
    margin-top: -100px;
}
#horarios{
    margin-top: -100px;
    padding-left: 100px;
    border-left-color: rgb(110, 103, 103);
    border-left-width: 2px;
    border-left-style: solid;
}
    footer ul{
    margin-top: -100px;
    padding-left: 100px;
    border-left-color: rgb(110, 103, 103);
    border-left-width: 2px;
    border-left-style: solid;
}
footer ul li{
    list-style: none;
    margin-top: 10px;
}
footer ul li a:link{
    text-decoration: none;
    color: rgb(110, 103, 103);
}
footer ul li a:visited{
    text-decoration: none;
    color: rgb(110, 103, 103);
}
footer ul li a:hover{
    text-decoration: none;
    color: black;
    font-style: italic;
}